body {
    background-color: black;
    margin: 0;
    padding: 0;
    line-height: 200%;
}

html, body, div {
    height: 98%;
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -70%);
  }

#left-panel {
    background-color: grey;
    float: left;
    margin: 20px;
    width: 47%;
}

#left-panel img{
    padding: 0 30px 0 30px;
}

#right-panel {
    background-color: grey;
    float: left;
    margin: 20px;
    width: 47%;
}



img {
    width: 40px;
    height: 40px;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
    margin-bottom: 40px;
}