<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Bailey Chittle</title>
    <meta property="og:site_name" content="Bailey Chittle" />
    <meta property="og:title" content="Bailey Chittle" />
    <meta property="og:description" content="This is the site of Bailey Chittle, the Software and Web Developer that everyone should hire!" />
    <meta property="og:image" content="./img/profile.JPG" />
    <meta property="og:type" content="website" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <!--
        development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    -->

    <!-- 
        production version, optimized for size and speed 
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Kanit Font -->
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <!-- VueTyper -->
    <script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="left-panel">
                <article>
                <vue-typer 
                    class="h1"
                    text='Bailey Chittle' 
                    :repeat='0'
                    :pre-type-delay='70'
                >
                </vue-typer>
                <br>
                <vue-typer 
                    class="h2"
                    id="typewriter"
                    :text='[
                        "Motivated to Make a Better Tomorrow",
                        "while(isAlive) {eat();code();sleep();}",
                        "Star Web Designer",
                        "My CSS is !important",
                        `$("#Github").click();`,
                        `"The more you know, the more you realize you know nothing" -Socrates`,
                        "Try typing something in the terminal to your right (or below if you are on mobile)"
                    ]'
                    :repeat='Infinity'
                    :shuffle='true'
                    :pre-type-delay='1000'
                    :pre-erase-delay='5000'
                    @typed-char="onTypedChar"
                    @erased="onErased"
                >
                </vue-typer>
                <br>
                <div id="images">
                    <a href="https://www.github.com/bachittle">
                        <img id="Github" src="img/github.png" alt="Github"> 
                    </a>
                    <a href="https://linkedin.com/in/bailey-chittle">
                        <img id="LinkedIn" src="img/linkedin.png" alt="LinkedIn">
                    </a>
                    <a href="mailto:bachittle@gmail.com">
                        <img id="Mail" src="img/mail.png" alt="Mail">
                    </a>
                </div>

            </article>
        </div>
        <div id="right-panel">
            <p id="terminal-user">bailey@chittle:~$</p>
            <input 
                v-model="input" 
                type="text" 
                id="terminal-input" 
                maxlength="20"
                @focus="inputIsFocused=true"
                @blur="inputIsFocused=false"
            >
            <div v-if="input.length != 0 && inputIsFocused" id="input-results">
                <span>Work</span>
                <span>In</span>
                <span>Progress</span>
            </div>

            <div id="content">
                <img src="img/profile.JPG" alt="profile pic">
            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
    <script src="js/canvas.js"></script>
</body>

</html>